CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_DEVICE_redmi_ax6=y

CONFIG_LIBCURL_COOKIES=y	
CONFIG_LIBCURL_FILE=y	
CONFIG_LIBCURL_FTP=y	
CONFIG_LIBCURL_HTTP=y	
CONFIG_LIBCURL_NO_SMB="!"	
CONFIG_LIBCURL_OPENSSL=y	
CONFIG_LIBCURL_PROXY=y	
CONFIG_LIBMBEDTLS_HAVE_ARMV8CE_AES=y	
CONFIG_LIBSODIUM_MINIMAL=y

CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSFORWARDER=y
CONFIG_PACKAGE_TURBOACC_INCLUDE_DNSPROXY=y

CONFIG_PACKAGE_kmod-ipt-offload=y
CONFIG_PACKAGE_kmod-nf-flow=y

CONFIG_LUCI_LANG_zh_Hans=y

CONFIG_PACKAGE_kmod-zram=y
CONFIG_PACKAGE_zram-swap=y

CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y

CONFIG_PACKAGE_luci-app-guest-wifi=y

CONFIG_PACKAGE_luci-app-ddns=y

CONFIG_PACKAGE_luci-app-netdata=y

CONFIG_PACKAGE_luci-app-ntpc=y
CONFIG_PACKAGE_luci-app-dnsfilter=y

CONFIG_PACKAGE_luci-app-openclash=n

CONFIG_PACKAGE_luci-app-pppoe-relay=y

CONFIG_PACKAGE_luci-app-smartdns=y

CONFIG_PACKAGE_luci-app-ttyd=y

